.pro-sidebar {
    position: fixed !important;
    float: left;
    width: 70px !important;
    min-width: 70px !important;
    //box-shadow: 0px 0px 1px 1px #181818;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);

    .pro-sidebar-inner {
        background-color: #181818 !important;
    }

    .icon-padding {
        margin-top: 10vh;
    }

    a {
        svg {
            cursor: pointer !important;
        }
    }

    a:hover {
        path {
            fill: $green !important;
            transform: translateY(-10px) !important;
        }
    }
}

.pro-sidebar .pro-menu .pro-menu-item>.pro-inner-item {
    padding: 8px 5px 8px 20px !important;
}