.bgcolor {
    background-color: white;
}

section {
    height: 100vh;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.85) !important;
    font-family: $font-family-2;

    .navbar-brand {
        font-size: 15vw;
        color: white !important;
    }
}

.Row1 {
    padding-top: 30vh;

    h1 {
        font-size: 7vw;
    }

    span {
        color: $red;
    }
}


.Row2 {
    font-family: $font-family-2;

    p {
        font-size: 2vw;
        color: #333;

        b {
            a {
                text-decoration: none;
            }
        }
    }

    img {
        border: 0.5rem solid $red;
    }
}

@media screen and (max-width: 600px) {
    .Row2 {
        p {
            font-size: 5vw !important;
        }
    }

    .Row4 {
        p {
            font-size: 5vw !important;
        }
    }

    .Row6 {
        div {
            padding-top: 20px !important;
        }
    }

    .hide-mobile {
        display: none !important;
    }

    .skill-Set-List-AWS {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

    .skill-Set-List-Database {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

    .skill-Set-List-CICD {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

    .skill-Set-List-Languages {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

    .skill-Set-List-Linux {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

    .skill-Set-List-Networking {
        div {
            div {
                div {
                    padding-top: 50px;
                }
            }
        }
    }

}

.Row3 {
    padding-top: 30vh;

    span {
        color: $red;
    }

    h1 {
        font-size: 7vw;
    }
}

.Row4 {
    font-family: $font-family-2;

    p {
        font-size: 2vw;
        color: #333;

        a {
            text-decoration: none;
        }
    }

    span {
        color: $red;
    }
}

.Row5 {
    padding-top: 30vh;

    h1 {
        font-size: 7vw;
    }

    span {
        color: $red;
    }
}

.Row7 {
    padding-top: 40px;
}

.infotag-bottom {
    padding-top: 50px;
}

.skill-Set-List-AWS {
    padding-top: 2vw;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.skill-Set-List-Database {
    padding-top: 2vh;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.skill-Set-List-CICD {
    padding-top: 2vh;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.skill-Set-List-Languages {
    padding-top: 2vh;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.skill-Set-List-Linux {
    padding-top: 2vh;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.skill-Set-List-Networking {
    padding-top: 2vh;

    ul {
        li {
            font-size: 2rem;
            color: black;
            background-color: #333;
        }
    }
}

.scroller {
    padding-top: 50px;

}

/*********
Padding
*********/