@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
.bgcolor {
  background-color: white; }

section {
  height: 100vh; }

.navbar {
  background-color: rgba(255, 255, 255, 0.85) !important;
  font-family: "Work Sans", sans-serif; }
  .navbar .navbar-brand {
    font-size: 15vw;
    color: white !important; }

.Row1 {
  padding-top: 30vh; }
  .Row1 h1 {
    font-size: 7vw; }
  .Row1 span {
    color: #ff6868; }

.Row2 {
  font-family: "Work Sans", sans-serif; }
  .Row2 p {
    font-size: 2vw;
    color: #333; }
    .Row2 p b a {
      text-decoration: none; }
  .Row2 img {
    border: 0.5rem solid #ff6868; }

@media screen and (max-width: 600px) {
  .Row2 p {
    font-size: 5vw !important; }

  .Row4 p {
    font-size: 5vw !important; }

  .Row6 div {
    padding-top: 20px !important; }

  .hide-mobile {
    display: none !important; }

  .skill-Set-List-AWS div div div {
    padding-top: 50px; }

  .skill-Set-List-Database div div div {
    padding-top: 50px; }

  .skill-Set-List-CICD div div div {
    padding-top: 50px; }

  .skill-Set-List-Languages div div div {
    padding-top: 50px; }

  .skill-Set-List-Linux div div div {
    padding-top: 50px; }

  .skill-Set-List-Networking div div div {
    padding-top: 50px; } }
.Row3 {
  padding-top: 30vh; }
  .Row3 span {
    color: #ff6868; }
  .Row3 h1 {
    font-size: 7vw; }

.Row4 {
  font-family: "Work Sans", sans-serif; }
  .Row4 p {
    font-size: 2vw;
    color: #333; }
    .Row4 p a {
      text-decoration: none; }
  .Row4 span {
    color: #ff6868; }

.Row5 {
  padding-top: 30vh; }
  .Row5 h1 {
    font-size: 7vw; }
  .Row5 span {
    color: #ff6868; }

.Row7 {
  padding-top: 40px; }

.infotag-bottom {
  padding-top: 50px; }

.skill-Set-List-AWS {
  padding-top: 2vw; }
  .skill-Set-List-AWS ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }
  .skill-Set-List-AWS ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.skill-Set-List-Database {
  padding-top: 2vh; }
  .skill-Set-List-Database ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.skill-Set-List-CICD {
  padding-top: 2vh; }
  .skill-Set-List-CICD ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.skill-Set-List-Languages {
  padding-top: 2vh; }
  .skill-Set-List-Languages ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.skill-Set-List-Linux {
  padding-top: 2vh; }
  .skill-Set-List-Linux ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.skill-Set-List-Networking {
  padding-top: 2vh; }
  .skill-Set-List-Networking ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.scroller {
  padding-top: 50px; }

/*********
Padding
*********/
/**********
Padding Classes
***********/
.pad-10 {
  padding-top: 10px; }

.pad-20 {
  padding-top: 20px; }

.pad-30 {
  padding-top: 30px; }

.pad-40 {
  padding-top: 40px; }

.pad-50 {
  padding-top: 50px; }

.pad-60 {
  padding-top: 60px; }

.pad-70 {
  padding-top: 70px; }

.pad-80 {
  padding-top: 80px; }

.pad-90 {
  padding-top: 90px; }

.pad-100 {
  padding-top: 100px; }

.pad-200 {
  padding-top: 100px; }

.pad-300 {
  padding-top: 100px; }

.pad-400 {
  padding-top: 100px; }

/*# sourceMappingURL=main.css.map */
