@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Questrial");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
.bgcolor {
  background-color: white; }

.navbar {
  background-color: rgba(255, 255, 255, 0.85) !important;
  font-family: "Work Sans", sans-serif; }
  .navbar .navbar-brand {
    font-size: 15px;
    color: white !important; }

.section-One-Layout {
  margin-top: 25%; }
  .section-One-Layout div h1 {
    color: #ff6868;
    letter-spacing: 0.5rem; }
    .section-One-Layout div h1 span {
      color: black; }
  .section-One-Layout div p {
    padding-top: 30px;
    color: white; }

.skills-Height {
  height: 90vh !important; }

.intro {
  height: 100vh; }
  .intro .headerOne {
    padding-top: 20%; }
    .intro .headerOne h1 {
      font-size: 7rem; }
    .intro .headerOne span {
      color: #ff6868; }
  .intro .headerTwo {
    padding-top: 25%; }
    .intro .headerTwo h1 {
      font-size: 7rem; }
    .intro .headerTwo span {
      color: #ff6868; }
  .intro .headerThree {
    padding-top: 25%; }
    .intro .headerThree h1 {
      font-size: 7rem; }
    .intro .headerThree span {
      color: #ff6868; }

.section-Two-Layout {
  height: 50vh;
  font-family: "Work Sans", sans-serif; }
  .section-Two-Layout div {
    color: #ff6868;
    padding-bottom: 5%; }
    .section-Two-Layout div div p {
      text-indent: 50px;
      font-size: 22px;
      color: #333; }
      .section-Two-Layout div div p b a {
        text-decoration: none; }
    .section-Two-Layout div img {
      border: 0.5rem solid #ff6868;
      width: 240px;
      height: 240px; }

.section-Three-Layout {
  color: #ff6868;
  font-family: "Work Sans", sans-serif; }
  .section-Three-Layout p {
    text-indent: 50px;
    font-size: 25px;
    color: #333; }
    .section-Three-Layout p a {
      text-decoration: none; }

.section-Four-Layout {
  color: #ff6868;
  font-family: "Work Sans", sans-serif; }
  .section-Four-Layout p {
    font-size: 18px;
    color: black; }
  .section-Four-Layout .skillist {
    padding-top: 3%;
    color: black; }

.section-Five-Layout .skill-Set-List-AWS {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-AWS div h4 {
    color: black; }
  .section-Five-Layout .skill-Set-List-AWS div ul li {
    font-size: 1rem;
    background-color: #333; }
.section-Five-Layout .skill-Set-List-Database {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-Database ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }
.section-Five-Layout .skill-Set-List-CICD {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-CICD ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }
.section-Five-Layout .skill-Set-List-Languages {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-Languages ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }
.section-Five-Layout .skill-Set-List-Linux {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-Linux ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }
.section-Five-Layout .skill-Set-List-Networking {
  padding-top: 5%;
  padding-bottom: 5%; }
  .section-Five-Layout .skill-Set-List-Networking ul li {
    font-size: 2rem;
    color: black;
    background-color: #333; }

.section-Six-Layout {
  height: 100vh;
  padding-top: 5%; }

.footer {
  background-color: #333;
  margin-top: 25%;
  padding-bottom: 3%; }
  .footer .footer-Message-One {
    padding-top: 9%;
    color: white; }
    .footer .footer-Message-One h5 a {
      color: white; }
  .footer .footer-Message-Two {
    padding-top: 5%;
    color: white; }
  .footer .footer-Message-Three {
    padding-top: 9%;
    color: white; }
    .footer .footer-Message-Three h5 a {
      color: white; }
  .footer h1 {
    letter-spacing: 3rem; }
  .footer .letter-1 {
    color: rgba(1, 255, 1, 0.76); }
  .footer .letter-2 {
    color: rgba(1, 255, 1, 0.76); }
  .footer .letter-3 {
    color: #5d95fd; }
  .footer .letter-4 {
    color: #ff6868; }
  .footer .letter-5 {
    color: orange; }

.section-One-Toolbox {
  padding-top: 5%; }
  .section-One-Toolbox h1 {
    color: #ff6868; }
  .section-One-Toolbox pre code {
    font-size: 20px; }

/*# sourceMappingURL=main.css.map */
