@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
$blue: black;
$purple:#e13aff;
$orange: orange;
$yellow: yellow;
$red: rgb(255,
104,
104);
$green: rgba(1,
255,
1,
0.76);
$blue: #5d95fd;
$white: white;
$font-family: 'Open Sans',
sans-serif;
$font-family-2: 'Work Sans',
sans-serif;
@import 'layout';
@import 'toolbox';