/**********
Padding Classes
***********/

.pad-10 {
    padding-top: 10px;
}

.pad-20 {
    padding-top: 20px
}

.pad-30 {
    padding-top: 30px;
}

.pad-40 {
    padding-top: 40px;
}

.pad-50 {
    padding-top: 50px;
}

.pad-60 {
    padding-top: 60px;
}

.pad-70 {
    padding-top: 70px;
}

.pad-80 {
    padding-top: 80px;
}

.pad-90 {
    padding-top: 90px;
}

.pad-100 {
    padding-top: 100px;
}

.pad-200 {
    padding-top: 100px;
}

.pad-300 {
    padding-top: 100px;
}

.pad-400 {
    padding-top: 100px;
}